h1 {
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 6px #e70808;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
h2 {
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 6px #e70808;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}
h3 {
    font-size: 80px;
    margin: 0;
    text-shadow: 2px 2px 6px #e70808;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#back {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 24px;
    background-color: #e70808;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 8px #000;
}